# Ignore Arduino build files
build/
*.elf
*.hex
*.bin
*.uf2

# Do not include Obsidian workspace settings
.obsidian/workspace.json
.obsidian/workspace-mobile.json

# Ignore OS files
.DS_Store
Thumbs.db
